extends ../templates/layout_sub

block content
  // contents 
  .contents
    // container 
    .container.clearfix
      // common_right 
      #real_contents.common_right
        form#aform(method="post", action="")
          input#file_id(type="hidden", name="file_id", value="")
          input#currentPage(type="hidden", name="currentPage", value="${param.currentPage }")
          input#sch_text(type="hidden", name="sch_text", value="${param.sch_text }")
          input#sch_type(type="hidden", name="sch_type", value="${param.sch_type }")
          input#board_num(type="hidden", name="board_num", value="${resultMap.CTZN_IMPRVMSUGEST_SEQ_NO}")

        .sub_tit1_box
          h2.sub_tit1 시민참여단
        .s_outer
          // board_view 
          .board_view
            //board_view_wrap
            .board_view_wrap.question.box-shadow-card.round-lg
              // board_view_top 
              .board_view_top
                h3.tit.title_sj [질문] ${resultMap.QESTN_SJ}
                ul.info_list
                  li
                    span.label 닉네임
                    | ${resultMap.USER_NCNM}
                  li
                    span.label 등록일
                    | ${resultMap.REGIST_YMD}
                  li
                    span.label 점수여부
                    | ${resultMap.ALLOT_AT_STATE}
                  li
                    span.label 조회수
                    | <%=String.format("%,d", resultMap.getInt("INQIRE_CO")) %>
              // // board_view_top ENd
              // board_view_con 
              .board_view_con
                .editor_view(style="word-break:break-all;") ${resultMap.QESTN_CN}
              // // board_view_con END
            // // board_view_wrap END
            //board_view_wrap
            .board_view_wrap.answer.box-shadow-card.round-lg
              // board_answer_box 
              .board_answer_box
                // board_view_top 
                .board_view_top
                  h3.tit [답변] ${resultMap.ANSWER_SJ}
                  ul.info_list
                    li
                      span.label 작성자
                      | ${resultMap.USER_NM}
                    li
                      span.label 등록일
                      | ${resultMap.ANSWER_YMD}
                // // board_view_top END 
                // board_view_con 
                .board_view_con
                  .editor_view(style="word-break:break-all;") <%=resultMap.getStringOrgn("ANSWER_CN") %>
                  .board_view_file.round-md
                    span.label 첨부파일
                    .right_cell
                      ul.file_list.inlineblock
                        li
                          a(href="#", onclick="fnFileDown('${resultMap.FILE_ID}'); return false;", title="파일 다운로드") &nbsp; ${resultMap.FILE_NM}
                // // board_view_con END 
              // // board_answer_box ENd
            // //board_view_wrap END
            .common_btn_box.ta_c
              a.common_btn.list.round-xxxlg(href="#", onclick="fnGoList(); return false;") 목록
              a.common_btn.modify.round-xxxlg(href="#", onclick="fnGoUpdateForm('${resultMap.USE_INQRY_SEQ_NO}'); return false;") 수정
            //이전글 다음글
            .board_view_navi.box-shadow-card.round-lg
              // 이전글 선택할때 
              span.prev_box
                a.each(href="#")
                  span.label 이전
                  p.tit 이전글이 없습니다.
              a.common_btn.list.ico_list(href="#", onclick="fnGoList(); return false;") 
                span.hide 목록
              // 다음글 선택할때 
              span.next_box
                a.each(href="#")
                  p.tit 다음글이 없습니다.
                  span.label 다음
        // // board_view END
      // // common_right END
    // // container END
  // // contents END

